{% set image = gr.media.images|first %}

<dev class="leader">
	
    <h2>{{ gr.header.name}}</h2>
    <h3>{{ gr.header.job}}</h3>
    <div class="headshot">
        <img src="{{ image.url }}" alt="{{ gr.header.name }}">
    </div>
    <div class="bio">
        <p>{{ gr.header.bio|markdown}}</p>
    </div>
    
    <hr>
</dev>